body, html {
    height: 100%;
}

.bg {
    background-image: url("./images/michael-longmire-RhBVoJnRqVg-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 100px);
}

.splash-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    flex-direction: column;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.navbar-container__navigation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.navbar__link {
    text-decoration: none;
    color: darkslategrey;
    padding-left: 12px;
}

.goal-progress {
    padding: 3px;
    margin: 2px;
}

.expenses__piechart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container__category{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bad-expense {
    color: red
}

.expense__tag {
    border: solid 1px black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tan
}